.container {
  margin-top: 15px;
  margin-bottom: 30px;
  width: 420px;
  height: 420px;
  background-color: burlywood;
  }

.container img {
  width: 100%;
  height: 100%;
}

@media (max-width: 555px) {
  .container {
    width: 310px;
    height: 310px;
  }
}